src/TecX/TecX.Agile.Phone/Service References/ProjectService/project1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TecX.Agile.Phone.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TecX.Agile.Phone.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProjectQueryResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ProjectQueryResult" nillable="true" type="tns:ProjectQueryResult" />
  <xs:complexType name="IterationQueryResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="IterationQueryResult" nillable="true" type="tns:IterationQueryResult" />
  <xs:complexType name="StoryQueryResult">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="StoryQueryResult" nillable="true" type="tns:StoryQueryResult" />
</xs:schema>