src/TecX/TecX.Agile.Phone/Service References/ProjectService/project2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tecx.codeplex.com/phone/project" elementFormDefault="qualified" targetNamespace="http://tecx.codeplex.com/phone/project" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/phone/project?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TecX.Agile.Phone.Service" />
  <xs:import schemaLocation="http://localhost/phone/project?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetProjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startingFromIndex" type="xs:int" />
        <xs:element minOccurs="0" name="takeCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TecX.Agile.Phone.Service" minOccurs="0" name="GetProjectsResult" nillable="true" type="q1:ProjectQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIterations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startingFromIndex" type="xs:int" />
        <xs:element minOccurs="0" name="takeCount" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="projectId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIterationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TecX.Agile.Phone.Service" minOccurs="0" name="GetIterationsResult" nillable="true" type="q3:IterationQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startingFromIndex" type="xs:int" />
        <xs:element minOccurs="0" name="takeCount" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="iterationId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserStoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TecX.Agile.Phone.Service" minOccurs="0" name="GetUserStoriesResult" nillable="true" type="q5:StoryQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>