Modular/src/Modular/Search.Client/Service References/Service/SearchService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Search.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Search.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FoundSearchTermIn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uri" nillable="true" type="xs:anyURI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
  <xs:complexType name="ArrayOfSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true" type="tns:SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResult" nillable="true" type="tns:ArrayOfSearchResult" />
</xs:schema>